@import url('../../assest/data/colors.css');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('../../assest/data/images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 600px;
  border-radius: 6px;
  padding: 30px;
  margin: 50px 0px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: gradientAnimation 5s infinite;
  border-radius: 20px;
  border: 2px solid var(--topbar-color);
}

.user-reg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  height: 550px;
  border-radius: 6px;
  padding: 30px;
  margin-left: 250px;
  margin-top: 70px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  text-align: center;
}

.doc-img {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin-left: 670px;
  margin-top: -100px;
  width: 130px;
}

.user-img {
  position: relative;
  display: flex;
  margin-top: -5px;
  width: 130px;
}

.user-header {
  display: flex;
  align-items: center;
}

.container header {
  position: relative;
  font-size: 24px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 35px;
}
.container header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: var(--topbar-color);
}
.container form {
  position: relative;
  margin-top: 5px;
  height: 550px;
  width: 800px;
}

.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.user-input-field {
  text-align: center;
}

.user-input-field input {
  width: 250px;
}
form .form {
  margin-bottom: 15px;
}
form .form.third {
  margin-top: 20px;
}

.fourth {
  margin-top: -30px;
}

.container form .title {
  display: block;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}

.container form .t1 {
  padding-top: 15px;
  padding-bottom: 0px;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  color: #333;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 30px;
  margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.input-field select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  color: #333;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 30px;
  margin: 8px 0;
}

.container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: -35px;
  background-color: var(--topbar-color);
  transition: all 0.3s linear;
  cursor: pointer;
}

form button:hover {
  background-color: #31f5aa;
}

.nicErrorMsg {
  position: absolute;
  margin-top: -5px;
  margin-left: 550px;
}

.pcErrorMsg {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  margin-top: -280px;
}

.emailErrorMsg {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  margin-top: -280px; /* Adjust as needed for spacing */
  margin-left: 275px;
}
.pwordErrorMsg {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  margin-top: -120px; /* Adjust as needed for spacing */
  margin-left: 0px;
}

.user-emailErrorMsg {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  margin-top: -210px; /* Adjust as needed for spacing */
  margin-left: 280px;
}
.user-pwordErrorMsg {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  margin-top: -150px; /* Adjust as needed for spacing */
  margin-left: 280px;
}

.contactNumError {
  position: absolute;
  margin-top: 65px;
  margin-left: 550px;
}

p {
  font-weight: 400;
  font-size: medium;
}

.btnText {
  font-size: large;
  font-weight: 600;
}

.user-frm-btn {
  position: fixed;
  margin-bottom: -150px;
  margin-left: -100px;
}
